*.vcxproj.user
*.vcxproj.filters
*.aps
/The  1090MHz  Riddle.pdf
/MICA-MID - WP 02 - Mode S Surveillance Principle.pdf
/ICAO-Annex-10-Volume-4-Surveillance-and-Collision-Avoidance.pdf
/Fundamentals of mode s parity coding.pdf
*.lyx~
/#ADS-B Viewer.lyx#
/Debug/ADSBViewerNew.tlog/unsuccessfulbuild
/TextFile1.txt
*.lyx
*.asv
*.m
*.lyx#
/slprj/
/x64/
*.slxc
